{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/' + shirt.image) }}" alt="{{ shirt.description }}" class="img-fluid">
        </div>
    
        <div class="col-md-6">
            <h1>{{ shirt.name }}</h1>
            <p class="text-muted">{{ shirt.price }}</p>
            <p>{{ shirt.description }}</p>
            <hr>
            <form action="{{ url_for('add_to_basket') }}" method="POST">
                <input type="hidden" name="shirt_id" value="{{ shirt.id }}">
                <div class="mb-3">
                    <label for="selected_size" class="form-label">Select Size:</label>
                    {{ form.selected_size(class="form-control") }}
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <input type="number" name="quantity" id="quantity" class="form-control" value="1" min="1" max="10">
                </div>
                <button type="submit" class="btn btn-primary">Add to Basket</button>
            </form>
            <hr>
            <p>{{ shirt.detailedDescription }}</p>
        </div>
    </div>
</div>
{% endblock %}


